In [1]:
import numpy as np

In [7]:
sample = np.load('experiments/data/eval_test_sample_71.csv.npy')

In [8]:
sample

array([[[ 0.9984085 , -0.99999607,  0.99935836, ...,  0.95628661,
          0.99254632,  0.9999873 ],
        [-0.9978233 , -1.        ,  0.9979279 , ..., -0.99846286,
          0.9977957 ,  0.99999988],
        [-0.99999398, -1.        , -0.99132067, ..., -0.99999928,
          0.99999994,  0.99999899],
        ...,
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99991292],
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.9997716 ],
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99979705]],

       [[ 0.99959624, -0.99999088,  0.9987126 , ...,  0.85634124,
          0.99174571,  0.99991202],
        [-0.99929237, -1.        ,  0.99892712, ..., -0.99827015,
          0.997024  ,  0.99999988],
        [-0.99999595, -1.        , -0.99365944, ..., -0.9999997 ,
          0.99999982,  0.99999809],
        ...,
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.99992132],
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99988484],
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.99953842]],

       [[ 0.99918509, -0.99999994,  0.99999952, ..., -0.98390639,
          0.99999774,  0.99998558],
        [-0.97268814, -1.        ,  0.99906886, ..., -0.99999511,
          0.99733794,  0.99999863],
        [-0.99997824, -1.        , -0.96506774, ..., -0.99999982,
          1.        ,  0.99999702],
        ...,
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99931669],
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99951035],
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99950486]],

       ...,
       [[ 0.99976254, -0.99999321,  0.9999761 , ...,  0.25450313,
          0.99999994,  0.99999994],
        [-0.99967736, -1.        ,  0.99639642, ..., -0.99998927,
          0.99945861,  0.9999994 ],
        [-0.99999654, -1.        , -0.99861366, ..., -0.99999839,
          1.        ,  0.99999511],
        ...,
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.99979931],
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.99977982],
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.9999221 ]],

       [[ 0.99971712, -0.99999404,  0.9999786 , ...,  0.47040027,
          0.99999994,  1.        ],
        [-0.99966532, -1.        ,  0.99740058, ..., -0.99993861,
          0.99982494,  0.99999964],
        [-0.99999839, -1.        , -0.99812961, ..., -0.99999905,
          0.99999994,  0.99997973],
        ...,
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99995112],
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99982649],
        [-1.        , -1.        , -0.99999994, ..., -1.        ,
          1.        ,  0.99975801]],

       [[ 0.99948096, -0.99999708,  0.99997902, ...,  0.8930791 ,
          0.99999976,  1.        ],
        [-0.99947923, -1.        ,  0.98341107, ..., -0.99997652,
          0.99989939,  0.9999994 ],
        [-0.99999559, -1.        , -0.99878037, ..., -0.99999952,
          0.99999994,  0.99999833],
        ...,
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.99960262],
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.99967873],
        [-1.        , -1.        , -1.        , ..., -1.        ,
          1.        ,  0.99972934]]], dtype=float32)

In [ ]:
real = np.load('experiments/data/eval_test_real_71.csv.npy')

In [5]:
import pandas as pd
XX = pd.read_csv('experiments/data/XX_71.csv')

In [6]:
XX.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,3978,3979,3980,3981,3982,3983,3984,3985,3986,3987
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN